.cards{
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 70vh;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.082);
  >.card{
    padding-top: 20px;
    height: 50%;
  }
}

.details{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  text-align: justify;
  background-color:transparent;
  text-align: left;
  color: rgba(255, 255, 255,0.8);
  font-weight: normal;
  font-size:12px
}
.head{
  padding: 50px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: auto;
  justify-content: space-around;
}
img{
  background-color: transparent;
  width: 200px;
  height: 130px;
}
.text{
  width: 25%;
  text-align: justify;
  font-size: larger;
  font-weight: bolder;
  color: rgba(255, 255, 255,0.6);
}
.exp{
  display: flex;
  align-items: center;
  margin: 10px;
  width: 60%;
  justify-content: center;
  >h2{
    font-size: small;
    &.cap{
      background-color: rgb(0, 149, 255);
    }
    &.ca{
      background-color: rgb(3, 163, 57);
    }
    &.essa{
      background-color: rgb(176, 93, 15);
    }
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 50em) {
  .exp{
    width: 90%;
  }
  .head{
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text{
    text-align:center;
    width: 100%;
  }
  .logo{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
  }
  img{
    background-color: transparent;
    
  }
  
}