<div class="head">
    <div class="text">
        <h1>
            What great adventures  :)
        </h1>
    </div>
    <div class="logo">
        <img class='img' alt="logo capgemini"  src="../../assets/images/ca.jpg" alt="Capgemini team">
        
    </div>
</div>
<div class="exp">
    <h2 class="cap">Capgemini</h2><h2 class="ca">Crédit Agricole Assurance</h2><h2 class="essa">Essa-Karaté Saint Avé</h2>
</div>