.content{
    display: flex;
    color: rgba(255, 255, 255,0.8);
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    >*{
        width: 33%;
    }
    >.item{
        padding-top: 10px;
        border-top: 1px solid black;
        border-top-width: 40%;
        color: rgba(255, 255, 255,0.8);
        font-size: 12px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    >.footer{
        display: flex;
        justify-content: center;
        margin: 20px;
        display: flex;
        >.reseau{

            
            >a{
                >img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        align-items: center;
    }
}