
.text-contener{
  height: 100%;
  width:100%;
  display: flex;
  opacity: 2.5;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}
img{
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  width: 150px;
}
.resume{
  color: rgba(255, 255, 255,0.6);
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 50px;
  
  font-size: 14px;
}

@media (max-width: 50em) {


  .text-contener{
    flex-direction: column;
  }
  img{
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    width: 200px;
  }
  .resume{
    background-color: transparent;
    width: 70%;
    font-size: medium;
    text-align: justify;
  }
  
}


.job{
    font-size:50px;
}



  
  

