

    <div class="text-contener visible" id="about">
        <div class="photo" >
            <img src="../../assets/images/moi.jpg" alt="moi">
        </div>
        <article class="resume">
            <text [translate]="'about.summerize'"></text><br/>
        </article>
    </div>



