ul {
    font-size: 12px;
    list-style-type: none;
    justify-content: right;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    float: right;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    width: fit-content;
    
}
.right{
    background-color: rgba(0, 0, 0,0.2);
    margin-right: 5px;
}
.menu{
    display:none;
}
li {
    float: left;
}
a {
    background-color: transparent;
    display: block;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: bolder;
    border-radius: 20px;
}

a:hover{
   
    background-color:rgba(255, 255, 255, 0.2) ;
    
}
.main-nav{
    display: none;
}
/* écran encore plus petit: on cache le menu */
@media (max-width: 50em) {
    .item:hover{
        border-bottom: rgb(6, 9, 37);
    }
    a{
        background-color:transparent;
        border-bottom: none;
        color:rgb(0, 0, 0)
    }
	ul { display: none; }
    .main-nav{ 
        
        display: flex; 
        flex-direction: column;
        width: 30%;
        cursor: pointer;
        >span{
            background: rgba(0, 0, 0,0.7);
            width: 4px;
            height: 4px;
            margin: 4px 0;
            transition: .4s cubic-bezier(0.68,-0.6,0.32,1.6);
        };
        span:nth-of-type(1){
            width: 30px;
        };
        span:nth-of-type(2){
            width: 30px;
        };
        span:nth-of-type(3){
            width:30px;
        }
        input[type=checkbox]{
            display: none;
        };

        input[type=checkbox]:checked~
        span:nth-of-type(1){
            transform-origin: bottom;
            width: 200%;
            transform:rotate(45deg) ;
        }
        input[type=checkbox]:checked~
        span:nth-of-type(2){
            width: 200%;
            transform-origin: top;
            transform:rotate(-45deg) ;
        }
        input[type=checkbox]:checked~
        span:nth-of-type(3){
            transform-origin: bottom;
            width: 0%;
        }
        input[type=checkbox]:checked~
        .menu{
            background-color: transparent;
            border-radius: 40px;
            width: 100%;
            display: flex; 
            flex-direction: column;
        }
    }
}