<nav>
    <ul>
        <li><h1><a href="" [translate]="'navbar.home'"></a></h1></li>
        <li><h1><a href="#about" [translate]="'navbar.about'"></a></h1></li> 
        <li><h1><a href="#work" [translate]="'navbar.work'"></a></h1></li>
        <li><h1><a class="right" href="#contact">Contact</a></h1></li>
    </ul>
    <label class="main-nav">
        <input type="checkbox" id="check"/>
        <span></span>
        <span></span>
        <span></span>
        <div class="menu">
            <div class="item">
                <a href="#" [translate]="'navbar.home'"></a>
            </div>
            <div class="item">
                <a href="#about" [translate]="'navbar.about'"></a>
            </div>
            <div class="item">
                <a href="#work" [translate]="'navbar.work'"></a>
            </div>
            <div class="item">
                <a href="#contact">Contact</a>
            </div>
        </div>
    </label>

</nav>