<div class="container" id="writing">
        <div class="description-writing">
            <article>
                <span>
                    <h1 class="job" [translate]="'writing.blog'"></h1>
                    <label [translate]="'writing.about'"></label>
                </span>
            </article>
        </div>
</div>
