body{
    background-color: rgb(63, 63, 65);
    color: white;
    margin: 0 !important;
    padding: 10px 50px;
}

.description-writing{
    margin-top: 1%;
    width: 100%;
    text-align: center;
}
.container{
    
    background-color: rgb(63, 63, 65);
    color: white;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    div{
        display: inline-block;
    }
}


.job{
    font-size:50px;
}


@media (max-width: 50em) {
    body{
        background-color: rgb(63, 63, 65);
        color: white;
        margin: 0 !important;
        padding: 10px 
    }
    .container{
        padding: 0px;
    }
    .description-writing{
        text-align: left;
    }
}
