.container {
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align:center;
    >.left {
        >img{
            width:50% ;
            border-radius: 30px;
        }
    }
    >.right{
        margin-right:5%;
        display: flex;
        flex-direction:row;
        #black{
            background-color: rgb(0, 0, 0);
            color: rgba(255, 255, 255,0.8);
        }
        >.items{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
           
            height:40px;
            margin: 5px;
            border-radius: 20px;
            font-weight: bold; 
            background-color: rgba(255,255,255,0.5);
            color: black;
        }
    }
    margin-bottom: 30px;
}
.headd{
    
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.heade{
    margin-top: 20px;
    >h2{
        font-size: 16px;
    }
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    width: 70%;
    border-bottom: 2px solid black;
}

@media (max-width: 50em) {
    .container {
        >.left {
            >img{
                width:90% ;

            }
        }
    }
    .items{
        padding: 10px;
    }
    .heade{
        >h2{
            font-size: 14px;
            font-weight: normal;
            color: rgba(255, 255, 255,0.8);
        }
    }
    .right{
        font-size: 12px;
        font-weight: normal;
        display: flex;
        justify-content: center;
        width: 70%;
    }
  }