<div class="headd">
    <div class="heade">
        <h2 [translate]="'projects.title'"></h2>
    </div>
</div>
<div class="container">
    <div class="left">
        <img src="../../assets/images/portefolio_pc.png" alt="my portfolio">
    </div>
    <div class="right">
        <div class="items" id="black" [translate]="'projects.name'"></div>
        <div class="items">angular 13</div>
        <div class="items">scss</div>
        
    </div>
</div>