
    <div class="container" id="contact">
        <div class="description">
            <div class="formulaire">
                <span>
                    <label [translate]="'contact.text'"></label>
                    <br/><br/>
                    <form class="contact"action="https://formsubmit.co/ngdorian0@gmail.com" method="POST">
                        <label [translate]="'contact.name'"></label>
                        <input class="form-input" type="text" id="Name" name="name" [placeholder]="'contact.inputName' | translate" required/>
                        <label [translate]="'contact.email'"></label>
                        <input class="form-input" type="email" id="Email" name="email" [placeholder]="'contact.inputEmail' | translate" required/>
                        <label [translate]="'contact.message'"></label>
                        <textarea class="form-input" rows="3" type="text"name="content" id="Content"  [placeholder]="'contact.inputMessage' | translate"></textarea>
                        <button [translate]="'contact.submit'" type="submit"></button>
                    </form>
                </span>
            </div>
        </div>
    
    </div>