.container{
  border-radius: 0px;
  display: block;
  overflow: hidden;
  background-size: cover;
  z-index: 1;
  color: rgba(255, 255, 255,0.8);
  font-weight: bold;
  display: flex;
  padding:40px;
  justify-content: center;
}

.contact{
  
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
      color: rgba(255, 255, 255,0.8);
        font-weight: bold;
        text-align: center;
        border: transparent;
        background-color: rgba(rgb(68, 66, 66),0.2);
        width: fit-content;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        font-size:  1rem;
        &:hover{
          color: rgba(255, 255, 255,0.8);
            background-color: rgb(112, 169, 144);
        }
    }
}
.form-input{
  max-width: 300px;
  text-align: center;
  width:300px;
    background-color: rgba(rgb(73, 67, 67),0.2);
    color: rgba(255, 255, 255,0.8);
    padding: 0.5rem;
    border: none;
    border-radius:5px;
    margin: 5px 0 ;
    &:placeholder{
        color: rgba(rgb(255, 255, 255),0.7);
    }
}


label{
  font-size: 20px;
  font-weight: bolder;
  text-align: justify;
  color: rgba(255, 255, 255,0.6);
}


  
  @media (max-width: 50em) {
    .container{
      display: flex;
      flex-direction: column;
      box-shadow: none;
      border-radius: 0;
      padding: auto;
      font-weight: normal;
      color: rgba(255, 255, 255,0.8);
    }


    }
  
