.container{
    padding: 20px;
}
.icon{
  width: 80px;
}
.icon:hover{
  
    animation: rotatee 1s  ease
  
}


@keyframes rotatee {
  100%{
    rotate: 360deg;
  }
  
}
 .companyContainer{
  display: flex;
  justify-content: center;
 }
.global{
  display: flex;
  flex-direction: column;
}
  * {box-sizing:border-box}
  .skills-container
  {
    justify-content: center;
    
  }
  .skills-tech
  {
    overflow-x: auto;
    border-radius:30px;
    padding: 5px;
    >h1{
      border-bottom: 1px solid rgba(255, 255, 255,0.6);
      border-radius: 15px;
      width: fit-content;
      padding: 30px;
    }
    color: rgba(255, 255, 255,0.6);
    >.theme{
      >.skills{
        display: flex;
        width: 35vw;
        overflow: hidden;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      >.stories{
        text-align: justify;
        width: 35vw;
      }
      &.left{
        flex-direction: row-reverse;
      }
    }

  }
  .circular{
    display: flex;
    flex-direction: column;
    
  }
.title{
  color: rgba(255, 255, 255,0.6);
}
.article{
  text-align: center;
  p{
    display: none;
    position: absolute;
  }
  
}
.article:hover{
  p{
    padding: 10px;
    display: flex;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: white;
  }

}
.bulle {
  width: 100px; /* Ajustez la taille de la bulle en fonction de vos besoins */
  height: 100px; /* Ajustez la taille de la bulle en fonction de vos besoins */
  background-color: transparent; /* Couleur de fond avec transparence */
  border-radius: 50%; /* Pour obtenir une forme de cercle */
}

.bulle img {
  width: 100%; /* Remplit complètement la bulle avec le logo */
  height: 100%; /* Remplit complètement la bulle avec le logo */
  border-radius: 50%; /* Pour adapter le logo au cercle de la bulle */
}
.formobile{
  display: none;
}
.three{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  input[type=checkbox]{
    display: none;
  }
  @media (max-width: 50em) {
    .company{
      border-radius: 0px;
      box-shadow: none;
      background-color: transparent
    }
    .theme{
      
      flex-direction: column;
    }
    .formobile{
      display: flex;
      >.icon{
        width: 90px !important;
      }
    }
    .icon{
      width: 80px !important;
      height: 80px !important;
    }
    .skills-container
    {
      padding: 2px;
      display:flex;
      flex-direction: column;
      text-align: center;
    }
    .container{
      display: flex;
      flex-direction: column;
      padding: 0px;
    }
    
    .skills-tech
    {
 
      >h1{
        border-bottom: 1px solid rgba(255, 255, 255,0.6);
        border-radius: 15px;
        width: fit-content;
        padding: 30px;
      }
      color: rgba(255, 255, 255,0.8);
      >.theme{
        &.left{
          flex-direction: column;
  
        }
        justify-content: center;
        >.skills{
          display: flex;
          flex-wrap: wrap;
          width: auto;
        }
        flex-direction: column;
        >.stories{
          
          width: auto;
        }
      }
    }
    input[type=checkbox]:checked~
    .article{
      p{
        padding: 10px;
        display: flex;
        color: rgba(255, 255, 255,0.8);
        text-align: center;
        border-radius: 20px;
        font-family: 'Times New Roman', Times, serif;
        background-color: white;
      }
    
    }
  }