<div class="global visible">
  <div class="works">
    <div class="container" id="work">
        <div class="description-work">
            <article>
                <span>
                    <h1 class="title" [translate]="'work.topic'"></h1>
                </span>
            </article>
        </div>
  
    </div>
    <div class="skills-container">
        <div class="skills-tech">
          <h1>Cloud</h1>
              <div class="theme">
                
                <div class="skills">
                  <div class="bulle">
                    <img class="icon" alt="icon gcp"  src="../../assets/images/gcp.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon aws"  src="../../assets/images/aws.jpg">
                  </div>
                </div>
                <div class="stories">
                  The cloud is one of the latest domains I've worked on. I started by using Google Cloud Platform for my personal projects because I'm accustomed to working with Google tools such as Firebase, Kubernetes, or Auth0. Recently, I pursued the AWS Certified Developer Associate training.
                </div>
              </div>
              <h1>Front end</h1>
              <div class="theme left">
                
                <div class="skills">
                  <div class="bulle ">
                    <img class="icon" alt="icon angular"  src="../../assets/images/angularlogo.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon react"  src="../../assets/images/react.png">
                  </div>
                </div>
                <div class="stories">
                  In terms of front-end development, I work with various technologies. For instance, at Capgemini, I've had experience working with Angular. In fact, Angular is also the technology I've used for this personal website.
                </div>
              </div>
              <h1>Back end</h1>
              <div class="theme">
                
                <div class="skills">
                  <div class="bulle">
                    <img class="icon" alt="icon java"  src="../../assets/images/java.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon python"  src="../../assets/images/py.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon node js"  src="../../assets/images/node.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon pg sql"  src="../../assets/images/pg.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon oracle sql"  src="../../assets/images/oraclesql.png">
                  </div>
                  <div class="bulle">
                    <img class="icon" alt="icon docker"  src="../../assets/images/docker-logo.png">
                  </div>
                </div>
                <div class="stories">
                  For the backend, I predominantly work with Node.js for my API development in personal projects, while at Capgemini, Java is the primary technology I use.
                </div>
              </div>
              <h1>Versioning</h1>
              <div class="theme left">
                
                <div class="skills">
                  <div class="bulle">
                    <img class="icon" alt="icon git"  src="../../assets/images/git.png">
                  </div>
                </div>
                <div class="stories">
                  For version control, I utilize Git with platforms like GitLab or GitHub. Additionally, I leverage GitHub Actions or GitLab CI/CD for continuous integration.
                </div>
              </div>

        </div>
        
    </div>

  </div>
  <div class="companyContainer">
    <app-company class="company"></app-company>
  </div>
</div>
