.container{
    background-color: rgb(14, 18, 45);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100wh;
    height: 100vh;
    align-items: center;
    text-align: center;
    
    .one{
        color: black;
        animation: lightOne 2s infinite;
    };
    .second{
        color: black;
        animation: lightSecond 2s infinite;
    };
    .plz{
        color: black;
        animation: lightPlz 2s infinite;
    }
}
@keyframes lightOne {
    0%{
        color: rgba(255, 255, 255, 2);
    }
    33%{
        color: black;
    }
}

@keyframes lightSecond {
    33%{
        color: rgba(255, 255, 255, 2);
    }
    66%{
        color: black;
    }
}

@keyframes lightPlz {
    66%{
        color: rgba(255, 255, 255, 2);
    }
    100%{
        color: black;
    }
}


