<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XRFYS091RW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XRFYS091RW');
</script>
<body>
    <router-outlet></router-outlet>
    <!-- Page de chargement -->
    <app-loading *ngIf="showLoading"></app-loading>
</body>

