body{
    background: linear-gradient(to top#04558b, #0fa091); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
  scroll-behavior: smooth !important;
}
.lang {
    top: 6px ;
    left: 85%;
    z-index: 2;
    position: fixed;
    display: flex;
    float : right;
    background-color: transparent;
    font-size: 20px;
    padding: 14px 16px;
    >.lang-item{
        padding-right:30px;
        width: 20px;
        >:hover{
            border: 1px orangered;
            border-radius: 20px;
            width: 1.25em;
        }
    };

}
@media (max-width: 50em) {
    body{
        background: linear-gradient(to right, #04619F, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    }
    .container{
      display: flex;
      flex-direction: column;
    }
    }