/* You can add global styles to this file, and also import other style files */

body{
    background: linear-gradient(to bottom, #04558b, #0fa091); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}