body{
    background: linear-gradient(to top#04558b, #0fa091); 
    color: white;
    margin: 0 !important;
    background-attachment: fixed;
    width: 100vw;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}
.visible {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1.5s forwards; /* Utilisation de l'animation "fadeInUp" */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home{
  padding: 100px;
  position: relative;
}
.reseaux{
  display: flex;
  flex-direction: column;
  position: fixed;
  top:80vh;
  left:5vh;
  >.reseau{
    >a{
      >img{
        width: 30px;
        height: 30px;
      }
    }
  }
}
html {
  scroll-behavior: smooth !important;
}
.work{
  color: rgb(255, 255, 255);
}
.menu-fix{
  position: fixed;
  padding:5px 0px;
  z-index: 1;
  width: 100%;
  
}
.index{
  height: 100vh
}
.circular-home{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 3% 5%;
  border: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  margin-right: 10px;
  animation: test 8s infinite ;
}



@keyframes test {
  0%{
    transform: scale(1);
    rotate: 0deg;
  }
  50%{
    transform: scale(1.05);
    rotate: 180deg;
  }
  100%{
    transform: scale(1);
    rotate: 360deg;
  }
}

.container{
    height:100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  


@keyframes animepic{
  0%{
    rotate: 0deg;
  }
  25%{
    rotate: 3deg;
  }
  50%{
    rotate: -3deg;
  }
  100%{
    rotate: 0deg;
  }
}





.description{
  display:flex;
  flex-direction:column;
  top: -450px;
  text-align: center;
}


.job{
  position: relative;
  width: auto;
  font-size: 15px;
  color:rgba(255, 255, 255, 0.6);
}

@keyframes anime{
  100%{
    width:380px;
  }
}
#about{
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-size: cover;
}

.bubble {
  width: 18px;
  height: 18px;
  
  background-color: rgba(0, 217, 255, 0.2);
  border-radius: 50%; /* Pour obtenir une forme de cercle */
  position: absolute;
  top: 310vh; /* Commence en dehors de la vue de la page */
  left: 50%; /* Centre horizontalement */
  z-index: 2;
  animation: floatBubble 5s linear infinite; /* Animation de la bulle */
  &.a{
    animation: floatBubble 7s linear infinite;
    left:5%
  }
  &.b{
    animation: floatBubble 8s linear infinite;
    left:25%
  }
  &.c{
    animation: floatBubble 9s linear infinite;
    left:75%
  }
  &.d{
    animation: floatBubble 6s linear infinite;
    left:95%
  }
  &.e{
    animation: floatBubble 7.5s linear infinite;
    left:6%
  }
  &.f{
    animation: floatBubble 8.5s linear infinite;
    left:30%
  }
  &.g{
    animation: floatBubbleFond 4s linear infinite;
    left:65%
  }
  &.h{
    animation: floatBubbleFond 6s linear infinite;
    left:85%
  }
  &.i{
    animation: floatBubbleFond 7s linear infinite;
    left:80%
  }
  &.j{
    animation: floatBubbleFond 3s linear infinite;
    left:35%
  }
  &.k{
    animation: floatBubbleFond 4s linear infinite;
    left:12%
  }
  &.l{
    animation: floatBubbleFond 3s linear infinite;
    left:5%
  }
}

@keyframes floatBubble {
  100% {
    transform: translateY(-600vh); /* Déplacez la bulle vers le haut */
  }
}
@keyframes floatBubbleFond {
  50% {
    transform: translateY(-200vh); /* Déplacez la bulle vers le haut */
  }
  51% {
    transform: translateY(0vh); /* Déplacez la bulle vers le haut */
  }
  100% {
    transform: translateY(-200vh); /* Déplacez la bulle vers le haut */
  }
}
 

  @media (max-width: 50em) {
    .bubble{
      top: 300vh;
    }
    .work{
      padding: 20px;
      color: rgb(255, 255, 255);
    }
    .container {
      background-color: transparent;
      justify-content: center;
      display: flex;
      flex-direction: column;
      height: 100%
      
    }
    .home{
      padding: 0
    }
    .circular-home{
      display: none;
    }
    .job{
      padding: 5px;
      text-align: center;
      align-items: center;
      font-size: 20px;
      font-weight:bolder
    }
    .contact-container{
      color: white
    }
    .menu-fix{
      padding: 15px ;
      position: fixed;
      width: auto;
      border-radius: 20px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      background-color: rgba(201, 201, 201, 0.52);
    }
    .reseaux{
      top: 1vh;
      left: 90vw;
    }

  }
