  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRFYS091RW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-XRFYS091RW');
  </script>
<body class="body">
    <div class="menu-fix">
        <app-navbar></app-navbar>
    </div> 
    <div class="home">
        
        <div class="index">
            
            <div #element class="container visible">

                <div id="test">
                    <div class="circular-home"></div>
                </div>

                <span>
                    <label class="job" ><h1>Dorian Ngoma Sita</h1> Software engineer</label> 
                </span>
            </div>

            <div class="reseaux">
                <div class="reseau">
                    <a href="https://github.com/koalanoir" aria-label="got to my github page"><img class="icon" alt="icon github"  src="../../assets/images/github.png"></a>
                    
                </div>
                <div class="reseau">
                    <a href="https://www.linkedin.com/in/dorian-ngoma-sita/" aria-label="got to my linkedin page"><img class="icon" alt="icon linkedin"  src="../../assets/images/linkedin-removebg-preview (2).png"></a>
                    
                </div>
            </div>
        </div>

        <div id="about visible">
            <app-about></app-about>
        </div>

        <div class="work visible">
            <app-work></app-work>
        </div>

        <div class="contact-container">
            <div class="contact visible">
                <app-contact></app-contact>
            </div>
        </div>  

        <app-footer></app-footer>
    </div>
</body>
<div class="bubble a"></div>
<div class="bubble b"></div>
<div class="bubble c"></div>
<div class="bubble d"></div>
<div class="bubble e"></div>
<div class="bubble f"></div>
<div class="bubble g"></div>
<div class="bubble h"></div>
<div class="bubble i"></div>
<div class="bubble j"></div>
<div class="bubble k"></div>
<div class="bubble l"></div>